:root {
  --primary-color: #2A4494;
  --secondary-color: #0A090C;
  --tertiary-color: #F0EDEE;
  --gray-color: #dedede;
  --warning-color: #F6AC18;
  --error-color: #B50000;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;

}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-error {
  color: var(--error-color);
}

.text-warning {
  color: var(--warning-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-error {
  background-color: var(--error-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-transparent {
  background-color: transparent;
}


.border-primary {
  border-color: var(--primary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

.border-tertiary {
  border-color: var(--tertiary-color);
}

.outlined {
  border: 1px solid;

}

.filled {
  background-color: var(--primary-color);
  border: none;
  color: var(--tertiary-color);
}

.border-none {
  border: none;
}

.m-auto {
  margin: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 2rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.cursor-pointer {
  cursor: pointer;
}

.section {
  width: 80%;
  height: 100%;
}

.rounded {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100% !important;
}

.height-25 {
  height: 25%;
}

.height-50 {
  height: 50%;
}

.height-75 {
  height: 75%;
}

.height-95 {
  height: 95%;
}

.height-100 {
  height: 100%;
}

.hidden {
  width: 0;
  transition: all 0.5s;
}

.disappeared {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 1;
}

.flex-3 {
  flex: 1;
}

.flex-4 {
  flex: 1;
}


.rows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.loading {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 700;
}